
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css"/>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>
<br/>
        <form class="form-control " th:action="@{/user/activation-send}" th:object="${user}" action="/user/activation-send" method="post">
            <h2 class="form-signin-heading">Re-send Activation</h2>
            
            <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
            
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required="required" autofocus="autofocus"/>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send Activation</button>
        </form>
    </div>
<!-- /.container -->
  <div th:replace="/fragments/nfooter :: nfooter"/>

<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="js/init.js" th:src="@{/js/init.js}"></script>

</body>
</html>