
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css"/>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>
<br/>
	<div class="se-pre-con"></div>
    <br/>
    
        <br/>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card brown darken-1">
                        <div class="card-content brown-text">
                            <form   class="form-control" th:action="@{/password/{email}}">
                            
                                <h2 class="teal-text">Forgot Password</h2>
                                <h6 class="black-text">Please enter the email you registered with then you will be able to use the app in just a moment</h6>
                                <input type="text" id="email" name="email"  th:placeholder="Email"
                                       class="form-control" /> <br/>
                                <br />

                                <div align="center" th:if="${param.error}">
                                    <div class="alert red darken-1">
                                        Email not yet Registered!.
                                    </div>
                                </div>
                                <button class="btn red brown-text" name="Submit" value="Login" type="Submit" th:text="Send"></button>
                            </form>
                        </div>
                        <div class="card-action">
                            <a href="#" th:href="@{/login}" class="red-text">Sign In </a>

                            <a th:href="@{/registration}" class="red-text">New User?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/nfooter :: nfooter"/>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
        <script src="js/init.js" th:src="@{/js/init.js}"></script>
    </body>
</html>