<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css"/>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>
<br/>
	<div class="se-pre-con"></div>
    <br/>
    
    <br/> <br/>
    
 <div class="container">
        <section id="content">
            <form  th:action="@{/user/reset-password}" th:object="${user}" method="post">
                <legend>Reset your password.</legend>
                 
                    <div >
                        <div class="red-text validation-message">
                          <h5 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Invalid username and password.</h5>
                        </div>
                    </div>


                <div class="input-field">
                    <input type="email" id="inputEmail" name="email"  class="form-control-plaintext" placeholder="Email" required="required" autofocus="autofocus"/>
           
                    
							      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                       
                                <span class="helper-text" data-error="Invalid email format!" data-success="Email seems to be correct"></span>
              
                </div>
               
                <div>
                    <input type="submit" value="Reset Password" class="form-control btn btn-large btn-primary" />
                
                </div>
            </form><!-- form -->
            <div class="button">
                   <a href="/login">Sign in</a>
                    <a href="/signup">Register</a>
            </div><!-- button -->
        </section><!-- content -->
    </div><!-- container -->
<!-- /.container -->
  <div th:replace="/fragments/nfooter :: nfooter"/>

<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
<script src="js/init.js" th:src="@{/js/init.js}"></script>
</body>
</html>